*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
  color: hsl(0, 0%, 7%);
  --backdrop-color: hsl(240, 26%, 94%);
  --backdrop-darker: hsl(240, 26%, 91%);
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: var(--backdrop-color);
}

h2 {
  margin: 0;
  padding: 1rem 0 0 0;
  user-select: none;
  color: hsl(240, 0%, 38%);
  font-weight: 500;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.hiddenBoard {
  opacity: 0;
}
